[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiofiles = "*"
aiohappyeyeballs = "*"
aiohttp = "*"
aiosignal = "*"
aiosqlite = "*"
anyio = "*"
asyncpraw = {file = "https://github.com/praw-dev/asyncpraw/archive/master.zip"}
asyncprawcore = "*"
attrs = "*"
backoff = "*"
beautifulsoup4 = "*"
certifi = "*"
charset-normalizer = "*"
colorama = "*"
decorator = "*"
frozenlist = "*"
greenlet = "*"
h11 = "*"
httpcore = "*"
httpx = "*"
idna = "*"
imageio = "*"
imageio-ffmpeg = "*"
jmespath = "*"
loguru = "*"
moviepy = "*"
multidict = "*"
numpy = "*"
oauthlib = "*"
pillow = "*"
playwright = "*"
proglog = "*"
pyee = "*"
python-dateutil = "*"
python-dotenv = "*"
python-telegram-bot = "*"
requests = "*"
requests-oauthlib = "*"
scrapfly-sdk = "*"
six = "*"
sniffio = "*"
soupsieve = "*"
telegram = "*"
tqdm = "*"
tweepy = "*"
typing-extensions = "*"
update-checker = "*"
urllib3 = "*"
win32-setctime = "*"
yarl = "*"

[dev-packages]

[requires]
python_version = "3.13"
