[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
imageio-ffmpeg = "*"
instaloader = "*"
moviepy = "*"
playwright = "*"
python-dotenv = "*"
python-telegram-bot = "*"
requests = "*"
asyncpraw = {file = "https://github.com/praw-dev/asyncpraw/archive/master.zip"}

[dev-packages]

[requires]
python_version = "3.13"
