aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
anyio
asyncpraw @ https://github.com/praw-dev/asyncpraw/archive/master.zip#sha256=9b42581531723d043014a784b13c73e6990f2262a2981609ff0d76fdc48245cf
asyncprawcore
attrs
backoff
beautifulsoup4
certifi
charset-normalizer
colorama
decorator
frozenlist
greenlet
h11
httpcore
httpx
idna
imageio
imageio-ffmpeg
jmespath
loguru
moviepy
multidict
numpy
oauthlib
pillow
playwright
proglog
pyee
python-dateutil
python-dotenv
python-telegram-bot
requests
requests-oauthlib
scrapfly-sdk
six
sniffio
soupsieve
telegram
tqdm
tweepy
typing_extensions
update-checker
urllib3
win32-setctime
yarl
